includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - routes
    level: 5
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method.*check#'
